<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/style.css">
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <!-- <script type="module" src="JS/index.js"></script> -->
    <title>Blue Rabbit Coding Challenge</title>
</head>
<body>
    <img id="topIcon" src="../assets/CSS/BlueRabbitIcon.jpeg">
    <h1 id="header">Blue Rabbit Coding Challenge</h1>
    <div id="root">Not Rendering</div>
    <script type="module" src="../assets/JS/index.js"></script>
</body>
</html>